<% layout('layout/boilerplate') %>
<%- include('../partials/navbar') %>
<div class="container my-5">
	<div class="row">
		<h1 class="text-center">Edit Tour Place</h1>
		<div class="col-lg-6 offset-lg-3">
			<form action="/places/<%=place._id%>?_method=PUT" method="post" enctype="multipart/form-data" onsubmit="return validate(event)" novalidate class="validated-form">
				<div class="mb-3">
					<label for="title" class="form-label">Title</label>
					<input class="form-control" type="text" id="title" name="place[title]" value="<%=place.title%>" required>
					<div class="invalid-feedback">
						Please enter a valid title.
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="location">Location</label>
					<input class="form-control" type="text" id="location" name="place[location]" value="<%=place.location%>" required>
					<div class="invalid-feedback">
						Please enter a valid location.
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="region">Region</label>
					<input class="form-control" type="text" id="region" name="place[Region]" value="<%=place.Region%>" placeholder="South East" required>
					<p class="text-muted">Please add north or south to display your tourist place</p>
					<div class="invalid-feedback">
						Please give a valid region.
					</div>
				</div>
				<div class="mb-3">
					<label for="price" class="form-label">Price</label>
					<div class="input-group">
						<span class="input-group-text">&#8377;</span>
						<input type="text" class="form-control" aria-label="price-label" id="price" name="place[price]" value="<%=place.price%>" required />
						<div class="invalid-feedback">Please Enter a Price</div>
					</div>
				</div>
				<div class="mb-3 custom-file">
					<label for="image" class="form-label">Add Images</label>
					<input class="form-control bs-custom-file-input" type="file" accept="image/jpeg, image/jpg, image/png" name="image" id="image" multiple>
					<p class="error my-1">You have already uploaded <%=place.images.length%> images and you can upload maximum of 3 images</p>
					<label for="image" class="custom-file-label text-muted text-truncate"></label>
				</div>
				<div class="mb-3">
					<label class="form-label" for=description">Description</label>
					<textarea class="form-control" name="place[description]" id="description" cols="30" rows="5" required><%=place.description%></textarea>
					<div class="invalid-feedback">
						Please write a description.
					</div>
				</div>
				<div class="mb-3">
					<label class="form-label" for="thingstodo">Things to do</label>
					<textarea class="form-control" name="place[ThingsToDo]" id="thingstodo" cols="30" rows="5"><%=place.ThingsToDo%></textarea>
					<div class="invalid-feedback">
						Please write a Things To Do.
					</div>
				</div>
				<p>Delete Uploaded Images.DO NOT DELETE EVERY IMAGE!!! </p>
				<div class="cont-main mb-3">
					<%place.images.forEach(function(img,i){%>
					<div class="cont_checkbox">
						<input type="checkbox" class="delete_checkBox" id="myCheckbox-<%=i%>" name="deleteImages[]" value="<%=img.filename%>" />
						<label class="checkLabel" for="myCheckbox-<%=i%>">
							<img class="select_img" crossorigin="anonymous" src="<%=img.url%>" />
							<span class="cover_checkbox">
								<svg viewBox="0 0 12 10">
									<polyline points="1.5 6 4.5 9 10.5 1"></polyline>
								</svg>
							</span>
						</label>
					</div>
					<%})%>
				</div>
				<div class="mb-3">
					<button class="btn btn-success">Update Place</button>
				</div>
			</form>
			<a href="/places/<%= place._id %>">Cancel</a>
		</div>
	</div>
</div>
<%- include('../partials/subfooter') %>

<script>
	const uploader = document.querySelector('input[type=file]');
	const form = document.querySelector('form');
	const error = document.querySelector('.error');

	function validate(e) {
		if (uploader.files.length + <%= place.images.length %> < 1 || uploader.files.length + <%= place.images.length %> > 3) {
			error.style.display = 'block';
			e.preventDefault();
			return false;
		}
	}
	uploader.addEventListener('change', function () {
		const disp = window.getComputedStyle(error).display;
		if (disp === 'block' && (uploader.files.length + <%= place.images.length %> > 0 && uploader.files.length + <%= place.images.length %> < 4)) {
			error.style.display = 'none';
		} else if (disp === 'none' && (uploader.files.length + <%= place.images.length %> < 1 || uploader.files.length + <%= place.images.length %> > 3)) {
			error.style.display = 'block'
		}
	})
</script>