<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" crossorigin="anonymous" />
<link rel="stylesheet" href="/stylesheet/carouseltransition.css">
<%- include('../partials/navbar') %>
<section class="slider_container northslide swiper mb-3">
	<div class="slide_wrapper swiper-wrapper">
		<div class="slide swiper-slide" id="firstSlide">
			<img src="/images/northslide1Copy.avif" class="img-fluid  firstImg" alt="">
			<div class="image_description">
				<span class="image_title animate__animated">Be astonished by one of the Seven Wonders of the World</span>
				<p class="image_slogan animate__animated">"A wonder of wonders in the world, the Taj Mahal is a living edifice of human passion, which neither History dares to bury in its grave nor does time dare to forget."</p>
			</div>
		</div>
		<div class="slide swiper-slide" id="secondSlide">
			<img src="/images/northslide7Copy.avif" class="img-fluid  secondImg" alt="">
			<div class="image_description">
				<span class="image_title  animate__animated">Learn the history of Gateway of India </span>
				<p class="image_slogan animate__animated">"Experience Monsoon in Mumbai and you will never feel like going to any other place in the world"</p>
			</div>
		</div>
		<div class="slide swiper-slide" id="thirdSlide">
			<img src="/images/northslide9Copy2.avif" class="img-fluid  thirdImg" alt="">
			<div class="image_description">
				<span class="image_title animate__animated">Explore Cold Side Of India</span>
				<p class="image_slogan animate__animated">"The best way to enjoy nature in Shimla is by going for trekking, hiking and river rafting."</p>
			</div>
		</div>
	</div>
</section>
<div class="container my-5">
	<div class="row">
		<h3 class="mb-3">Must visit cities in North India</h3>
		<% for(let place of northTopDest) {%>
		<div class="col-xl-3 col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
			<div class="card mb-4 box">
				<% if(place.images.length) {%>
				<img class="img-fluid" crossorigin="anonymous" id="cardImg" src="<%= place.images[0].thumbnail %>" alt="">
				<% }else { %>
				<img class="img-fluid" crossorigin="anonymous" id="cardImg" src="https://res.cloudinary.com/dlds2z087/image/upload/w_300,h_250/v1668058755/raghu-nayyar-dskdujAQU44-unsplash_pmerzy.jpg" alt="">
				<% } %>
				<div class="card-body text_truncation">
					<h5 class="card-title"><%=place.title %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%=place.location%></h6>
					<h6 class="card-subtitle mb-2">From &#x20B9; <%=place.price%></h6>
					<p class="card-text text-truncate  mb-1"><%=place.description%></p>
					<a href="/places/<%= place._id %>" class="stretched-link" aria-label="place link"></a>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>

<div class="container my-5">
	<div class="row">
		<h3 class="mb-3">All Places in North India</h3>
		<% for(let place of northPlaces) {%>
		<div class="col-xl-3 col-lg-4 col-md-6 d-flex align-items-stretch justify-content-center">
			<div class="card mb-4 box">
				<% if(place.images.length) {%>
				<img class="img-fluid" crossorigin="anonymous" id="cardImg" src="<%= place.images[0].thumbnail %>" alt="">
				<% }else { %>
				<img class="img-fluid" crossorigin="anonymous" id="cardImg" src="https://res.cloudinary.com/dlds2z087/image/upload/w_300,h_250/v1668058755/raghu-nayyar-dskdujAQU44-unsplash_pmerzy.jpg" alt="">
				<% } %>
				<div class="card-body text_truncation">
					<h5 class="card-title"><%=place.title %></h5>
					<h6 class="card-subtitle mb-2 text-muted"><%=place.location%></h6>
					<h6 class="card-subtitle mb-2">From &#x20B9; <%=place.price%></h6>
					<p class="card-text text-truncate mb-1"><%=place.description%></p>
					<a href="/places/<%= place._id %>" class="stretched-link" aria-label="place link"></a>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
<%- include('../partials/homefooter') %>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" crossorigin="anonymous"></script>
<script src="/javascript/carouselTransition.js"></script>